

.about-section{
	margin-top: 150px;
}

.about-section p span{
	font-weight: bold;
}

.about-section form button{
	margin-bottom: 150px;
}

.list p{
	margin: 0 0 5px 0;
}

section .line{
	margin: 0 0 25px 0;
}

@media only screen and (max-width: 800px) {

	.about-section{
		margin: 80px 0 50px 0;
	}

	.list p{
		margin: 25px 0 0 0;
	}

	.about-section form button{
		margin: 50px 0;
	}

	section .line{
		margin: 0 0 15px 0;
	}

}
